/* Add some custom CSS styles to make the app look modern and smooth */
body {
    margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
}

.app__header-icon {
  font-size: 2rem;
  color: #4caf50;
  margin-right: 1rem;
}

.app__title {
  font-family: 'Helvetica';
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.2rem;
}

.app__form {
  display: flex;
  margin-bottom: 2rem;
}

.app__form-input {
  flex: 1;
  padding: 1rem;
  font-size: 1rem;
  margin-right: 30px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.app__form-button {
height: 40px;
width: 80px;
font-size: 1rem;
font-weight: bold;
border: none;
background-color: #4CAF50;
color: #fff;
cursor: pointer;
border-radius: 5px;
box-shadow: 0 5px 0 #3E8E41;
transition: box-shadow 0.3s;
}

.app__form-button:hover {
box-shadow: 0 3px 0 #3E8E41;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
}

li:last-of-type {
  border-bottom: none;
}

.app__list-delete-button {
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #ccc;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.app__list-delete-button:hover {
  background-color: #ccc;
  color: #fff;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.app:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.handle {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M7 10v2h10v-2H7z" fill="white"/></svg>');
  cursor: se-resize;
}

.react-resizable-handle {
  position: relative;
}


